
@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>

<h3>Thank you for your order</h3>
<label>Your pizza size is : </label>
<label>@Session["size"]</label>
<br />
<label>Your choice of toppings are : </label>
@{string toppings = (string)Session["toppings"]; }
    @if (toppings != null)
    {

        {
            foreach (var top in toppings)
            {
                @top;
        }
    }
}

<h3>Your amount is: $@Session["amount_before_tax"]</h3>

<h3>Tax: @Session["tax"]</h3>
<h3>Total: $ @Session["total"]</h3>