
@{
    ViewBag.Title = "Pizza Store";
}

<br/>
    <div class="jumbotron">
        <h1>Welcome to Pizza Store</h1>
        <p>Follow the link to start order now.</p>
        <p>@Html.ActionLink("Order now", "Order")</p>
    </div>
